<div class="container-index-center">
  <div>
    <div class="mt-4">
      <h1 class="titles">Pets for adoption</h1>
    </div>
    <br>
    <% @pets.each do |pet| %>
      <% unless pet.adopted %>
        <div class="index-card">
          <div class="card-left">
            <%= cl_image_tag pet.photo.key, crop: :fill %>
          </div>
          <div class ="card-right">
            <h1><%= pet.name %></h1>
            <p><strong>Category:</strong> <%= pet.date_of_birth %></p>
            <p><strong>Description:</strong> <%= pet.type %></p>
            <p><strong>Founder of the pet:</strong> <%= pet.user.email %></p>
            <p><%= link_to "See pet's details", pet_path(pet), class: "card-button" %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    <br>
    <div class="container index-button-position">
      <%= link_to "Create a new pet for adoption", new_pet_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>